.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
}

.modal-main {
  /* position: fixed; */
  background: white;
  width: 100%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.back-icon{
  cursor: pointer;
  font-size: 30px;
  color: grey;
}

.search-books{
  display: flex;
}

.search-books-results{
  padding-top: 30px;
  z-index: 1;
}